<!-- followingfeed.html displays the entries of the users you follow -->
{% extends "layout.html" %}

{% block title %}
    Following Feed
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
    <p> Following Feed</p>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="headers" scope="col">Username</th>
                    <th class="headers" scope="col">Song</th>
                    <th cclass="headers" scope="col">Artist</th>
                    <th class="headers" scope="col">Entry</th>
                </tr>
            </thead>
            <tbody>
                <!-- Jinjja table goes through entries and prints the entries of those you follow  -->
                {% for row in entries %}
                <tr>
                    <td class="text-start"><a href="{{ url_for('followedprofile', user_id = row.following_id) }}">{{ row.username }}</a></td>
                    <td class="text-start">{{ row.song_name }}</td>
                    <td class="text-start">{{ row.artist_name }}</td>
                    <td class="text-start"><a href="{{ url_for('entryfull', entry_id = row.id) }}" id="previewentry">{{ row.input }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}